body{
    background-color: #acaba9;
    position: absolute;
    left: 200px;
    font-family: 'Times New Roman', Times, serif;
}
@media (max-width:767px){
    body{
        position: absolute;
        left: 100px;
    }
}